<form (submit)="onDailyRegistrationSubmit()">
  <div class="row">
    <div class="col-md-2">
      <label>Data*: </label>
      <my-date-picker name="date" [locale]="'pt-br'" [(ngModel)]="date" required [disabled]="disabledDate"></my-date-picker>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
      <label>Total: </label>
      <input disabled value="{{getDailyTotal()}}"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label>Registros*: </label>
          <button type="button" class="btn btn-xs btn-info pull-right borderRadius5Px" (click)="onClickAddRegistration()">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
        </div>
        <div class="panel-body">
          <div class="col-md-2" *ngFor='let registration of registrations; let ind = index;'>
            <label>Entrada*: </label>
            <button type="button" class="btn btn-xs btn-danger pull-right borderRadius5Px" (click)="onClickRemoveRegistration(ind)">
              <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
            <input [textMask]="{mask: timeMask}" name="start-{{ind}}" [(ngModel)]="registration.start" class="form-control input-sm" type="text" >
            <label>Saída*: </label>
            <input [textMask]="{mask: timeMask}" name="end-{{ind}}" [(ngModel)]="registration.end" class="form-control input-sm" type="text" >
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <button class="btn btn-default" [routerLink]="['/dashboard']" *ngIf="disabledDate">Voltar</button>
  <input type="submit" class="btn btn-primary" value="Salvar"/>
</form>
