<div class="jumbotron text-center">
  <h1>Working Time</h1>
  <div *ngIf="!authService.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/register']">Cadastre-se</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
  <div *ngIf="authService.loggedIn()">
    Em breve mais funcionalidades!
  </div>
</div>
<div class="row" *ngIf="authService.loggedIn()">
  <div class="col-md-3 cursoPointer" [routerLink]="['/daily-registration']">
    <h3>Registro de atividades diárias</h3>
    <p>Registre suas atividades diárias.</p>
  </div>
  <div class="col-md-3 cursoPointer" [routerLink]="['/holiday']">
    <h3>Feriados</h3>
    <p>Visualize os feriados no período desejado.</p>
  </div>
  <div class="col-md-3 cursoPointer" [routerLink]="['/dashboard']">
    <h3>Dashboard</h3>
    <p>Visualize e edite seus registros no período desejado.</p>
  </div>
  <div class="col-md-3 cursoPointer" [routerLink]="['/profile']">
    <h3>Perfil</h3>
    <p>Visualize seu perfil e seu saldo de horas total.</p>
  </div>
</div>
