<div class="panel panel-default">
  <div class="panel-heading">
    <table class="width100">
      <tr>
        <td class="col-md-2">
          <label>Data Inicial: </label>
        </td>
        <td class="col-md-2">
          <my-date-picker name="startDate" [(ngModel)]="startDate" [locale]="'pt-br'" ></my-date-picker>
        </td>
        <td class="col-md-2">
          <label>Data Final: </label>
        </td>
        <td class="col-md-2">
          <my-date-picker name="endDate" [(ngModel)]="endDate" [locale]="'pt-br'" ></my-date-picker>
        </td>
        <td class="col-md-2">
        </td>
        <td class="col-md-2 alignCenter">
          <button type="button" class="btn btn-default" (click)="onClickFindHolidays()">
            Consultar
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel-body">
    <table class="table table-hover" width="100%">
      <thead>
        <tr>
          <th class="col-md-1 alignCenter">
            Data
          </th>
          <th class="col-md-2 alignCenter">
            Horas abonadas
          </th>
          <th class="col-md-9">
            Descrição
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="holidays === undefined || holidays.length === 0">
          <td colspan="4" class="alignCenter">
            Feriados não encontrados para o período.
          </td>
        </tr>
        <tr *ngFor='let holiday of holidays;'>
          <td class="alignCenter">
            {{ holiday.date | date: 'dd/MM/yyyy' }}
          </td>
          <td class="alignCenter">
            {{ holiday.accreditHours }}
          </td>
          <td>
            {{ holiday.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
