<h2 class="page-header">
  Registro
</h2>

<form (submit)="onRegisterSubmit()">
  <div class="row form-group">
    <div class="col-md-12">
      <label>Nome</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <label>Email</label>
      <input type="text" [(ngModel)]="email" name="email" class="form-control"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label>Usuário</label>
      <input type="text" [(ngModel)]="userName" name="userName" class="form-control"/>
    </div>
    <div class="col-md-6">
      <label>Senha</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label>Utiliza banco de horas:</label>
      <div class="form-group paddingTop10Px">
        Sim <input type="radio" name="compensatoryTime" [(ngModel)]="compensatoryTime" [value]="true">
        &nbsp;&nbsp;
        Não <input type="radio" name="compensatoryTime" [(ngModel)]="compensatoryTime" [value]="false">
      </div>
    </div>
    <div class="col-md-6" *ngIf="compensatoryTime">
      <label>Saldo anterior em horas:</label>
      <input type="number" [(ngModel)]="previousBalance" name="previousBalance" class="form-control"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <input type="submit" class="btn btn-primary" value="Salvar"/>
    </div>
  </div>
</form>
