<div class="panel panel-default">
  <div class="panel-heading">
    <table class="width100">
      <tr>
        <td class="col-md-2">
          <label>Data Inicial: </label>
        </td>
        <td class="col-md-2">
          <my-date-picker name="startDate" [(ngModel)]="startDate" [locale]="'pt-br'" ></my-date-picker>
        </td>
        <td class="col-md-2">
          <label>Data Final: </label>
        </td>
        <td class="col-md-2">
          <my-date-picker name="endDate" [(ngModel)]="endDate" [locale]="'pt-br'" ></my-date-picker>
        </td>
        <td class="col-md-2">
          <label>Total no período: </label>
          {{reportsTotalWorkedTime}}
        </td>
        <td class="col-md-1 alignCenter">
          <button type="button" class="btn btn-default" (click)="onClickFindDailyReports()">
            Consultar
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel-body">
    <table class="table table-hover" width="100%">
      <thead>
        <tr>
          <th class="col-md-1 alignCenter">
            Data
          </th>
          <th class="col-md-1 alignCenter">
            Total
          </th>
          <th class="col-md-9">
            Registros
          </th>
          <th class="col-md-1 alignCenter">
            Ações
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="dailyReports === undefined || dailyReports.length === 0">
          <td colspan="4" class="alignCenter">
            Registros diários não encontrados para o usuário.
          </td>
        </tr>
        <tr *ngFor='let report of dailyReports;'>
          <td class="alignCenter">
            {{ report.date | date: 'dd/MM/yyyy'}}
          </td>
          <td class="alignCenter">
            {{ report.dailyResult }}
          </td>
          <td>
            <span *ngFor='let registration of report.registrations;'>
              {{ registration.start }}&nbsp;{{ registration.end }}&nbsp;&nbsp;
            </span>
          </td>
          <td class="alignCenter">
            <a [routerLink]="['/daily-registration', report._id]"><span class="glyphicon glyphicon-pencil"></span></a>
            &nbsp;
            <a (click)="onClickRemoveDailyReport(report._id)" class="cursoPointer"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
