<div class="jumbotron text-center">
  <h1>Working Time</h1>
  <div *ngIf="!authService.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/register']">Cadastre-se</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
  <div *ngIf="authService.loggedIn()">
    Em breve mais funcionalidades!
  </div>
</div>
<div class="row" *ngIf="authService.loggedIn()">
  <div class="col-md-3 cursoPointer" [routerLink]="['/admin-holiday']">
    <h3>Feriados</h3>
    <p>Manutenção de feriados.</p>
  </div>
</div>
