<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left">
        <div class="btn-group position3PxTop" dropdown>
          <a href type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Home</a>
          <a type="button" dropdownToggle class="btn btn-default dropdown-toggle dropdown-toggle-split" *ngIf="authService.loggedIn()">
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="['/daily-registration']">Registro diário</a>
            </li>
            <li role="menuitem">
              <a  class="dropdown-item" [routerLink]="['/holiday']">Feriado</a>
            </li>
          </ul>
        </div>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="authService.loggedIn()">
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="authService.loggedIn()">
          <a [routerLink]="['/profile']">Perfil</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="!authService.loggedIn()">
          <a [routerLink]="['/register']">Cadastre-se</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="!authService.loggedIn()">
          <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="onLogoutClick()" *ngIf="authService.loggedIn()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
