<h2 class="page-header">
  Login
</h2>

<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Usuário</label>
    <input type="text" [(ngModel)]="userName" name="userName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" />
  </div>

  <input type="submit" class="btn btn-primary" value="Login"/>

</form>
