<div class="panel panel-default">
  <div class="panel-heading">
    <table class="width100">
      <tr>
        <td class="col-md-2">
          <label>Data Inicial: </label>
        </td>
        <td class="col-md-2">
          <my-date-picker name="startDate" [(ngModel)]="startDate" [locale]="'pt-br'" ></my-date-picker>
        </td>
        <td class="col-md-2">
          <label>Data Final: </label>
        </td>
        <td class="col-md-2">
          <my-date-picker name="endDate" [(ngModel)]="endDate" [locale]="'pt-br'" ></my-date-picker>
        </td>
        <td class="col-md-1">
        </td>
        <td class="col-md-3 alignCenter">
          <button type="button" class="btn btn-default" (click)="onClickFindHolidays()">
            Consultar
          </button>
          &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click)="onClickAddHoliday()">
            Novo
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel-body">
    <table class="table table-hover" width="100%">
      <thead>
        <tr>
          <th class="col-md-1 alignCenter">
            Data
          </th>
          <th class="col-md-2 alignCenter">
            Horas abonadas
          </th>
          <th class="col-md-8">
            Descrição
          </th>
          <th class="col-md-1 alignCenter">
            Ações
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="holidays === undefined || holidays.length === 0">
          <td colspan="4" class="alignCenter">
            Feriados não encontrados para o período.
          </td>
        </tr>
        <tr *ngFor='let holiday of holidays;'>
          <td class="alignCenter">
            {{ holiday.date | date: 'dd/MM/yyyy' }}
          </td>
          <td class="alignCenter">
            {{ holiday.accreditHours }}
          </td>
          <td>
            {{ holiday.description }}
          </td>
          <td class="alignCenter">
            <a (click)="onClickUpdateHoliday(holiday._id)" class="cursoPointer"><span class="glyphicon glyphicon-pencil"></span></a>
            &nbsp;
            <a (click)="onClickRemoveHoliday(holiday._id)" class="cursoPointer"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form (submit)="onHolidaySubmit()" novalidate>
  <div class="modal fade" bsModal #manageHolidayModal="bs-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div *ngIf="modalMessages">
            <div class="alert {{modalMessage.cssClass}}" *ngFor='let modalMessage of modalMessages'>
                <p>{{modalMessage.text}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Data*: </label>
              <my-date-picker name="date" [locale]="'pt-br'" [(ngModel)]="candidateHoliday.date" [disabled]="disabledDate"></my-date-picker>
            </div>
            <div class="col-md-6">
              <label>Horas abonadas*: </label>
              <input type="number" [(ngModel)]="candidateHoliday.accreditHours" min="1" max="8" name="accreditHours"
                    class="form-control height36Px borderRadius4Px">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Descrição*: </label>
              <input type="text" [(ngModel)]="candidateHoliday.description" name="description" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="manageHolidayModal.hide()">
            <span aria-hidden="true">Fechar</span>
          </button>
          <input type="submit" class="btn btn-primary" value="Salvar" [disabled]=""/>
        </div>
      </div>
    </div>
  </div>
</form>
